<div class="container mt-5">
  <div class="row mt-2">
    <div class="col-12 text-center">
      <h2 class="display-5">Cervezas del Mundo</h2>
    </div>
    <div class="col-12 mt-5 mb-2 mx-auto text-center" style="min-width:98%;">
      <div class="input-group-lg">
        <input name="filtrarCervezas" type="search" class="form-control" [(ngModel)]="filtro" required placeholder="Escribe aquí para filtrar" value="" (click)="onPulsarBotonBorrar()">
        <!-- <span class="input-group-btn">
            <button class="btn btn-primary btn-block my-2" type="button" (click)="onPulsarBotonBorrar()">Borrar!</button>
          </span> -->
      </div>
    </div>
  </div>
  <div class="row text-center mt-5 p-auto">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 animated fadeIn fast mb-4" *ngFor="let cerveza of cervezasDelMundo | filtrarListaCervezas: filtro">
      <div class="card bg-light text-primary">
        <img class="card-img-top mt-1" src="{{cerveza.url}}" alt="">
        <div class="card-body">
          <h4 class="card-title">{{cerveza.nombre}}</h4>
        </div>
        <div class="card-footer bg-secondary">
          <button class="btn btn-primary" [routerLink]="['/cerveza']" (click)="onSolicitarCerveza(cerveza.id)">+</button>
        </div>
      </div>
    </div>
  </div>
</div>
