<div class="container mt-5">
  <div class="row mt-2">
    <div class="col-12 text-center">
      <h2 class="display-5">Cervezas del Mundo</h2>
    </div>
    <div class="row text-center mt-5">
      <div class="col-lg-3 col-md-6 mb-4" *ngFor="let cerveza of cervezasDelMundo">
        <div class="card">
          <img class="card-img-top mt-1" src="{{cerveza[2]}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{cerveza[0]}}</h4>
          </div>
          <div class="card-footer">
            <button class="btn btn-success" [routerLink]="['/cerveza']" (click)="onSolicitarCerveza(cerveza[1])">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
