<div class="container my-5">
  <div class="row">
    <div class="col-12 text-center mb-5">
      <h2>La Guía Definitiva sobre los Vasos de las Cervezas</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <figure class="figure">
        <img src="assets/img/beers-guide.jpg" class="img-fluid rounded" alt="Vasos de Cervezas">
        <figcaption class="figure-caption text-right"><em><h3 class="my-4"><a href="https://www.corrchilled.co.uk/">Original Author: Corrchilled</a></h3></em></figcaption>
      </figure>
    </div>
  </div>
</div>
